<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<h2>{{title}}</h2>

		<form role="form" name="newSubcategoryForm">
			<div class="form-group">
				<label for="subcategorieName">Select the category</label>
				<div class="row">
					<div class="col-md-4">
						<select class="form-control" ng-model="idCategory" ng-options="cat.id as cat.name for cat in categories">
							<option value="">-- select category --</option>
						</select>
					</div>
				</div>
			</div>

			<div class="form-group">
				<label for="subcategorieName">Name</label> <input type="text"
					class="form-control" id="exampleInputName"
					placeholder="Enter sub categorie name" ng-model="nameSubcategory">
			</div>

			<button data-ng-click="submit(newSubcategoryForm)" class="btn btn-primary">Submit</button>
			<a href="#/subcategories" class="btn btn-danger">Cancel</a>
		</form>
	</div>
</div>