<div class="row">
	<div class="col-md-5 col-md-offset-1">
		<h2>Load new categorie</h2>

		<form role="form">
			<div class="form-group">
				<label for="categorieName">Type operation</label>
				<div class="row">
					<div class="col-md-3">
						<div class="radio">
							<label> <input type="radio" name="optionsRadios"
								id="optionsRadios1" value="option1" checked> Ingress
							</label>
						</div>
					</div>
					<div class="col-md-3">
						<div class="radio">
							<label> <input type="radio" name="optionsRadios"
								id="optionsRadios2" value="option2"> Egress
							</label>
						</div>
					</div>
				</div>
			</div>

			<div class="form-group">
				<label for="categorieName">Name</label> <input type="text"
					class="form-control" id="exampleInputName"
					placeholder="Enter categorie name">
			</div>

			<button type="submit" class="btn btn-primary">Submit</button>
		</form>
	</div>
</div>

</div>