	<div transaction-edit="{{editMode}}" class="container">

		<div class="row">
			<div class="col-md-6">
			    <h2>{{title}}</h2>
			</div>
			<br/>
		</div>

        <form role="form">
	        <div class="row">
	            <div class="col-md-5">
	                    <div class="form-group">
	                    	<label for="exampleInputDate">Date</label>
					        <p class="input-group">
					        	<input id="datePicker" type="text" class="form-control" datepicker-popup="{{format}}" ng-model="date" is-open="opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" ng-disabled="{{editMode}}" tabindex="1"/>
					        	<span class="input-group-btn">
					           	<button type="button" class="btn btn-default" ng-click="open($event)" ng-disabled="{{editMode}}" tabindex="1"><i class="glyphicon glyphicon-calendar"></i></button>
					           	</span>
				            </p>
					    </div>
	                    <div class="form-group">
	                        <label for="shift">Shift</label>
							<select id="shift" required class="form-control" ng-model="time" ng-options="time for time in times" tabindex="2">
								<option value="">-- select shift --</option>
							</select>
	                    </div>
	                    <div class="form-group">
	                        <label for="categorieName">Category</label>
							<select required class="form-control" ng-change="changeSubcategory()" ng-model="idCategory" ng-options="cat.id as cat.name for cat in categories" ng-disabled="{{editMode}}" tabindex="3">
								<option value="">-- select category --</option>
							</select>
	                    </div>
	                    <div class="form-group">
	                        <label for="subcategorieName">Sub-categorie</label>
							<select required class="form-control" ng-model="idSubcategory" ng-options="subcat.id as subcat.name for subcat in subcategories" ng-disabled="{{editMode}}" tabindex="4">
								<option value="">-- select sub-category --</option>
							</select>
	                    </div>
	            </div>
	            <div class="col-md-5 col-md-offset-2">
	                    <div class="form-group">
	                        <label>Concept</label>
	                        <input type="text" class="form-control" placeholder="Enter concept" ng-model="concept" tabindex="5">
	                    </div>
			            <div class="form-group">
	                        <label>Amount</label>
	                        <input type="number" class="form-control" placeholder="Enter amount" ng-model="amount" ng-disabled="{{editMode}}" tabindex="6">
	                    </div>
	                    <div class="form-group">
							<label>Select the account</label>
							<select required class="form-control" ng-change="changeBankOperation()" ng-model="idAccount" ng-options="acc.id as acc.name for acc in accounts" ng-disabled="{{editMode}}" tabindex="7">
								<option value="">-- select account --</option>
							</select>
						</div>
						<div class="form-group" ng-show="showBankOperation">
							<label>Select the bank operation</label>
							<select required class="form-control" ng-model="idBankOperation" ng-options="op.id as op.name for op in bankOperations" ng-disabled="{{editMode}}" tabindex="8" id="inputBankOperation">
								<option value="">-- select bank operation --</option>
							</select>
						</div>
						<a href="#/transactions" class="btn btn-danger">Cancel</a>
	                    <button data-ng-click="submit(newTransactionForm)" class="btn btn-primary" tabindex="10">Submit</button>
	            </div>
	        </div>
	</div>
 