<div class="container-fluid home">

	<div class="row">
		<div class="col-md-12">
			<h1 class="appName">System cash flow and cost analysis</h1>
		</div>
	</div>
	<br>
	<br>
	<div class="row">
		<div class="col-md-4">
			<h2><a class="linkHome" href="#/transactions">Transactions</a></h2>
			<div class="homeImage">
				<a href="#/transactions"><i class="fa fa-credit-card"></i></a>
			</div>
		</div>
		<div class="col-md-4">
			<h2><a class="linkHome" href="#/receipts">Receipts</a></h2>
			<div class="homeImage">
				<a href="#/receipts"><i class="fa fa-file-text-o "></i></a>
			</div>
		</div>
		<div class="col-md-4">
			<h2><a class="linkHome" href="#/statistics">Statistics</a></h2>
			<div class="homeImage">
				<a href="#/statistics"><i class="fa fa-bar-chart"></i></a>
			</div>
		</div>
	</div>
	
</div>