<div class="newSupplier-container">
	<h2>Add new Supplier</h2>
	<form role="form" id="newSupplierForm" name="newSupplierForm">
	    <div class="form-group">
	        <label for="supplierCode">Code</label>
	        <input type="text" class="form-control" ng-model="supplierCode" placeholder="Enter supplier code">
	    </div>
	    <div class="form-group">
	        <label for="supplierCompanyName">Name</label>
	        <input type="text" class="form-control" ng-model="supplierCompanyName" placeholder="Enter supplier company name">
	    </div>
	    <div class="form-group">
	        <label for="supplierCuit">CUIT</label>
	        <input type="text" class="form-control" ng-model="supplierCuit" placeholder="Enter supplier CUIT">
	    </div>
	   	<button data-ng-click="submit(newSupplierForm)" class="btn btn-primary">Submit</button>
	</form>
</div>