<div class="receipt-container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3 receipt">	
			<h3>Comprobante {{receipt.typeReceipt.name}}</h3>
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-6 receipt">
			<h2>{{receipt.businessName}}</h2>
		</div>
		<div class="col-md-5 col-md-offset-1 receipt-properties">
			<h5>N°: {{receipt.id}}</h5>
			<h5>Fecha: {{receipt.date}}</h5>
			<h5>CUIT: {{receipt.cuit}}</h5>
		</div>
	</div>
	
	</br>
	
	<div class="row" ng-show="!isTypeA()">
		<div class="col-md-12">
			<table class="table">
		        <thead>
		        	<tr>
		                <th>Concepto</th>
		                <th>Importe</th>
		            </tr>
		        </thead>
		        <tbody>
		            <tr>
		                <td>{{receipt.concept}}</td>
		                <td>{{receipt.totalBill}}</td>
		            </tr>
		        </tbody>
		    </table>
		</div>
	</div>
	
	<div class="row" ng-show="isTypeA()">
		<div class="col-md-12">
			<table class="table">
		        <thead>
		        	<tr>
		                <th>Concepto</th>
		                <th colspan="2">Importe</th>
		            </tr>
		        </thead>
		        <tbody>
		            <tr>
		                <td rowspan="4" class="receipt-concept">{{receipt.concept}}</td>
		            </tr>
		            <tr>
		                <td>Gravado</td>
		                <td>{{receipt.taxed}}</td>
		            </tr>
		            <tr>
		                <td>No gravado</td>
		                <td>{{receipt.untaxed}}</td>
		            </tr>
		            <tr>
		                <td>IVA</td>
		                <td>{{receipt.iva}}</td>
		            </tr>
		            <tr>
		            	<th colspan="2">TOTAL:</th>
		            	<th>{{receipt.totalBill}}</th>
		            </tr>
		        </tbody>
		    </table>
		</div>
	</div>
</div>