<div class="receipt-container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3 receipt">	
			<h3>Receipt {{receipt.typeReceipt.name}}</h3>
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-6 receipt">
			<h2>{{receipt.supplier.companyName}}</h2>
			<h5>Supplier code: {{receipt.supplier.code}}</h5>
		</div>
		<div class="col-md-5 col-md-offset-1 receipt-properties">
			<h5>N°: {{receipt.id}}</h5>
			<h5>Date: {{receipt.date}}</h5>
			<h5>CUIT: {{receipt.supplier.cuit}}</h5>
		</div>
	</div>
	
	</br>
	
	<div class="row" ng-show="!isTypeA()">
		<div class="col-md-12">
			<table class="table">
		        <thead>
		        	<tr>
		                <th>Concept</th>
		                <th>Import</th>
		            </tr>
		        </thead>
		        <tbody>
		            <tr>
		                <td class="detail">{{receipt.concept}}</td>
		                <td class="money">{{receipt.totalBill | currency}}</td>
		            </tr>
		        </tbody>
		    </table>
		</div>
	</div>
	
	<div class="row" ng-show="isTypeA()">
		<div class="col-md-12">
			<table class="table">
		        <thead>
		        	<tr>
		                <th>Concept</th>
		                <th colspan="2">Import</th>
		            </tr>
		        </thead>
		        <tbody>
		            <tr>
		                <td rowspan="4" class="detail">{{receipt.concept}}</td>
		            </tr>
		            <tr>
		                <td>Taxed</td>
		                <td class="money">{{receipt.taxed | currency}}</td>
		            </tr>
		            <tr>
		                <td>Untaxed</td>
		                <td class="money">{{receipt.untaxed | currency}}</td>
		            </tr>
		            <tr>
		                <td>IVA</td>
		                <td class="money">{{receipt.iva | currency}}</td>
		            </tr>
		            <tr>
		            	<th colspan="2">TOTAL:</th>
		            	<th class="money">{{receipt.totalBill | currency}}</th>
		            </tr>
		        </tbody>
		    </table>
		</div>
	</div>
</div>