<div class="container">
	<div class="row">
		<div class="col-md-6">
			<div class="btn-group"
				id="bs-example-navbar-collapse-1">
					<button class="btn btn-success" ng-click="drawIngressByShift()">See ingress by shifts</button>
					<button class="btn btn-success" ng-click="drawIngressBySubcategoriesInCategory()">See ingress of subcategorie's category</button>
			</div>
		</div>
		<div class="col-md-6">
			<div class="btn-group"
				id="bs-example-navbar-collapse-1">
					<button class="btn btn-danger" ng-click="drawEgressByShift()">See egress by shifts</button>
					<button class="btn btn-danger" ng-click="drawExpensesByCategory()">See egress by all categories</button>
					<button class="btn btn-danger" ng-click="drawEgressBySubcategoriesInCategory()">See egress of subcategorie's category</button>
			</div>
		</div>
	</div>
	<br>
     <div class="row">
	     <div class="col-md-2">
	     <br><br><br><br><br>
			<form class="form-group">
				<h3 ng-show="showSelectCategoriesInEgress">Select a category</h3>
				<select class="form-control" ng-change="drawEgressBySubcategoriesInCategoryOnChange()" ng-show="showSelectCategoriesInEgress" ng-model="idCategory" ng-options="cat.id as cat.name for cat in categoriesEgress">
				</select>
				<h3 ng-show="showSelectCategoriesInIngress">Select a category</h3>
				<select class="form-control" ng-change="drawIngressBySubcategoriesInCategoryOnChange()" ng-show="showSelectCategoriesInIngress" ng-model="idCategory" ng-options="cat.id as cat.name for cat in categoriesIngress">
				</select>
			</form>
		</div>
		<div class="col-md-6">
			<div class="col-md-8 col-md-offset-2">
				<div id="chart_div"></div>
			</div>
		</div>
	</div>
</div>