body { padding-top: 70px; } 

.table th {
   text-align: center;   
}

.table tr {
   text-align: left;   
}

.statistics a {
    font-size: 20px;
    color: red !important;
}

.delete {
	color: red !important;
}

.statistics a:hover {
    font-size: 20px;
    color: white !important;
}

.sis {
    font-weight: bold;
    color: white !important;
    font-size:20px;
}

.load{
   	text-align: center;   
}

.money{
   	text-align: right !important;
}

.detail{
   	text-align: left !important;
}

.negative{
	color: red;
}

td.actions{
	width: 110px;
} 

.egress{
    color: red !important;
}

.amount-detail{
   text-align: center;   
}

.messageDelete{
	text-align: center;
	width: 40%;
	position: absolute;
	left: 30%;
	right: 30%;
	heigth: 30%;
	top: 40%;
	bottom: 40%;
}

.messageNew{
	text-align: center;
	width: 40%;
	position: absolute;
	left: 30%;
	right: 30%;
	heigth: 30%;
	top: 40%;
	bottom: 40%;
}

.receipt {
   text-align: center;  
}

.receipt-container{
	margin:10px;
	font-family:"Verdana";
}

.home{
	font-family:"Verdana";
}

.home h2{
	text-align:center;
}

.linkHome{
	color:black;
}

.homeImage{
	text-align:center;
    font-size:120px;
    color:#0A2A29 !important;
}

.homeImage a{
    color:#0A2A29 !important;
}

.fa-home{
	size:72px;
}

.home h1{
	font-size:40px;
	font-weight: bold;
	text-align:center;
}

.angucomplete-dropdown {
    overflow-y: auto;
    max-height: 200px;
}

.newSupplier{
	padding-top:6px !important;
}

.newSupplier-container{
	margin:10px;
}

.message-container{
	margin-top:20px;
	margin-left:10px;
	margin-right:10px;
	margin-bottom:10px;
	font-family:'Verdana';
	font-size:12px;
}

.formError{
	color: #A94442;
}

.foot {
   position:absolute;
   bottom:20px;
   height:22px;   /* Height of the footer */
   background:#0A2A22;
}

.foot p{
   color:white !important;
}

.inputRequired{
	font-style: italic;
}

input[type=number] {-moz-appearance: textfield;}

::-webkit-inner-spin-button { -webkit-appearance: none;}
::-webkit-outer-spin-button { -webkit-appearance: none;}