body { padding-top: 70px; } 

.table th {
   text-align: center;   
}

.table tr {
   text-align: left;   
}

.statistics a {
    font-size: 20px;
    color: red !important;
}

.delete {
	color: red !important;
}

.statistics a:hover {
    font-size: 20px;
    color: white !important;
}

.sis {
    font-weight: bold;
    color: white !important;
    font-size:20px;
}

.load{
   	text-align: center;   
}

.money{
   	text-align: right !important;
}

.negative{
	color: red;
}

td.actions{
	width: auto;
} 

.egress{
    color: red !important;
}

.amount-detail{
   text-align: center;   
}

.messageDelete{
	text-align: center;
	width: 40%;
	position: absolute;
	left: 30%;
	right: 30%;
	heigth: 30%;
	top: 40%;
	bottom: 40%;
}

.messageNew{
	text-align: center;
	width: 40%;
	position: absolute;
	left: 30%;
	right: 30%;
	heigth: 30%;
	top: 40%;
	bottom: 40%;
}

.receipt {
   text-align: center;  
}

.receipt-container{
	margin:10px;
	font-family:"Verdana";
}

.angucomplete-dropdown {
    overflow-y: auto;
    max-height: 200px;
}

.newSupplier{
	padding-top:6px !important;
}

.newSupplier-container{
	margin:10px;
}

input[type=number] {-moz-appearance: textfield;}

::-webkit-inner-spin-button { -webkit-appearance: none;}
::-webkit-outer-spin-button { -webkit-appearance: none;}